* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    margin-right:330px; 
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img {
    width: 400px;
}

.login-container {
    flex: 1;
    max-width: 400px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.goals-container {
    display: flex;
    flex-direction: column;
}

.goals-container a {
    margin-bottom: 15px;
    padding: 12px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.goals-container a:hover {
    background-color: #45a049;
}

